<div class="iconos-sociales">
    <a href="https://www.facebook.com"><img src="../../../assets/Facebook.png" alt="Link Facebook"></a>
    <a href="https://www.instagram.com/mailenjuarez/"><img src="../../../assets/instagram.png" alt="Link instagram"></a>    
    <a href="https://github.com/mailenjuarez1"><img src="../../../assets/github.png" alt="Link github"></a>
    <a href="https://www.linkedin.com/in/mailen-juarez"><img src="../../../assets/linkedin.png" alt="Link linkedin"></a>
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
</div>