<div  class="row">
    <h2>Mis Proyectos Realizados</h2>
    <div class="col-sm-12 col-md-5 col-lg-5 proyecto">
        <h3>Mi Portfolio</h3>
        <h4>2022</h4>
        <p>Aplicación web dinámica full stack desarrollada en Angular y Java con Springboot.</p>
        <a href=""><img src="../../../assets/sitiow1.jpg" alt="APP estatica"></a>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 proyecto">
        <h3>Aplicación web estática</h3>
        <h4>2021</h4>
        <p>Aplicación web estática desarrollada en HTML, CCS y Bootstrap para un local comercial.</p>
        <a href="https://github.com/mailenjuarez1/tp1.git"><img src="../../../assets/sitiow.jpg" alt="APP estatica"></a>
    </div>
</div>
