<div id="skills">
    <h2>Hard & Soft Skills</h2>
    <div id="grilla-skills">
        <circle-progress class="circulos"
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#fa81ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [backgroundColor]="'#e7e8ea'"
    [backgroundPadding]="-10"
    [backgroundOpacity]="0.4"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  <circle-progress class="circulos"
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/css.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#fa81ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [backgroundColor]="'#e7e8ea'"
    [backgroundPadding]="-10"
    [backgroundOpacity]="0.4"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  <circle-progress class="circulos"
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/js.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#fa81ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [backgroundColor]="'#e7e8ea'"
    [backgroundPadding]="-10"
    [backgroundOpacity]="0.4"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  <circle-progress class="circulos"
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/trabajo-en-equipo.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#fa81ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [backgroundColor]="'#e7e8ea'"
    [backgroundPadding]="-10"
    [backgroundOpacity]="0.4"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  <circle-progress class="circulos"
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/actitud-positiva.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#fa81ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [backgroundColor]="'#e7e8ea'"
    [backgroundPadding]="-10"
    [backgroundOpacity]="0.4"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  <circle-progress class="circulos"
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/gestiondetiempo.png'"
    [imageHeight]="100"
    [imageWidth]="100"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#fa81ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [backgroundColor]="'#e7e8ea'"
    [backgroundPadding]="-10"
    [backgroundOpacity]="0.4"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>

</div>